
select.large {width:40em; height: 10em;}

input.textline {width:4em; height: 1em;}

label {width: 100%;}
.select-container
{
 display: flex;
 flex-wrap: wrap;
}

@media (prefers-color-scheme: dark)
{
  *
  {
    background-color: black;
    color: white;
  }

  select, option
  {
    background-color: #090505;
  }
}
