select.large {width:40em; height: 20em;}

input.textline, input.search {width:40em; height: 1em;}

label {min-width: 20em; display:block;}

/*

.form-item-container
{
 display: flex;
 flex-wrap: wrap;
}

.form-item
{
  width:40em;
  margin: 0.5em;
}
@media (prefers-color-scheme: dark)
{
  *
  {
    background-color: black;
    color: white;
  }

  select, option
  {
    background-color: #090505;
  }
}
*/
